Django==2.2.27
Jinja2==2.10.1
redis==2.10.6
redispy==3.0.0
requests==2.21.0
requests-cache==0.4.13
tokenize-uk==0.2.0
translitua==1.3.0
psycopg2-binary==2.8.3
tqdm==4.23.0
python-dateutil==2.7.2
elasticsearch-dsl==6.1.0
Js2Py==0.59
python-Levenshtein==0.12.0
names-translator==1.2.2
django-pipeline==1.6.14
django-cacheops==4.0.6
django-qartez==0.7.1
gunicorn==19.8.1
PyYAML==4.2b4
Werkzeug==0.15.6
raven==6.9.0
fuzzywuzzy[speedup]==0.17.0
veryprettytable==0.8.1
phonenumbers==8.10.22