{% extends "companies/base.html" %}

{% block header %}
{{ latest_record.name }} ({{ latest_record.company.edrpou }})
{% endblock %}

{% block subheader %}
{{ latest_record.short_name }}
{% endblock %}

{% macro render_person(person, show_person_type=True) %}
    {{ person.name|join(", ") }}, {% if show_person_type %}{{ person.get_person_type_display() }} {% endif %}<br/>
    {% if person.address %}{{ person.address|join("<br/>")|safe }} <br/>{% endif %}
    {% if person.country %}{{ person.country|join("<br/>")|safe }} <br/>{% endif %}
    {% if person.person_type != "head" %}
    <small style="color: silver">Оригінал запису з реєстру: {{ person.raw_record }}</small>
    {% endif %}
{% endmacro %}

{% block content %}
    <h3>Картка компанії</h3>
    {{ latest_record.get_status_display() }} <br />
    {{ latest_record.location }} <br />
    {{ latest_record.company_profile }} <br />
    Оновлено від <a href="{{ global_revisions[latest_record_revision].get_absolute_url() }}">{{ global_revisions[latest_record_revision].created|datetime }}</a>
    <hr />

    {% if latest_persons %}
        <h3>Керівництво</h3>
        <ul>
            {% for person in latest_persons %}
            <li>
                {{ render_person(person) }}
            </li>
            {% endfor %}
        </ul>
        Оновлено від <a href="{{ global_revisions[latest_persons_revision].get_absolute_url() }}">{{ global_revisions[latest_persons_revision].created|datetime }}</a>
    {% endif %}
    <hr />
    <h3>Історія змін компанії</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ревізія</th>
                <th>Повна назва</th>
                <th>Скорочена назва</th>
                <th>Адреса</th>
                <th>Статус</th>
                <th>Профіль компанії</th>
            </tr>
        </thead>
        <tbody>
            {% for group in grouped_company_records %}
                <tr>
                    <td>
                        {% if group.start_revision == group.finish_revision %}
                            <a href="{{ group.start_revision.get_absolute_url() }}">{{ group.start_revision.created|datetime }}</a>
                        {% else %}
                            <a href="{{ group.start_revision.get_absolute_url() }}">{{ group.start_revision.created|datetime }}</a>—<br/>
                            <a href="{{ group.finish_revision.get_absolute_url() }}">{{ group.finish_revision.created|datetime }}</a>
                        {% endif %}
                    </td>
                    <td>{% if group.record.name %}{{ group.record.name }}{% endif %}</td>
                    <td>{% if group.record.short_name %}{{ group.record.short_name }}{% endif %}</td>
                    <td>{% if group.record.get_status_display() %}{{ group.record.get_status_display() }}{% endif %}</td>
                    <td>{% if group.record.company_profile %}{{ group.record.company_profile }}{% endif %}</td>
                    <td>{% if group.record.location %}{{ group.record.location }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr />
    <h3>Історія змін керівництва</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ревізія</th>
                <th>Керівник</th>
                <th>Засновник</th>
                <th>Бенефіціарний власник</th>
            </tr>
        </thead>
        <tbody>
            {% for group in grouped_persons_records %}
                <tr>
                    <td>
                        {% if group.start_revision == group.finish_revision %}
                            <a href="{{ group.start_revision.get_absolute_url() }}">{{ group.start_revision.created|datetime }}</a>
                        {% else %}
                            <a href="{{ group.start_revision.get_absolute_url() }}">{{ group.start_revision.created|datetime }}</a>—<br/>
                            <a href="{{ group.finish_revision.get_absolute_url() }}">{{ group.finish_revision.created|datetime }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% for p in group.record if p.person_type == "head" %}
                            {{ render_person(p, False) }}<br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for p in group.record if p.person_type == "founder" %}
                            {{ render_person(p, False) }}<br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for p in group.record if p.person_type == "owner" %}
                            {{ render_person(p, False) }}<br/>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock%}
